<div class="row">
<div class="col-md-6 mx-auto pb-4">
  <h2>User info</h2>
<% if @user.errors.any? %>
  <%= @user.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @user, url: user_path(@user.id) do |f| %>
  <label for="inputName">Name</label>
  <div class="pb-4"><%= f.text_field :name, autofocus:true, id:"inputName", class: "form-control" %></div>
  <label for="inputImage">Image</label>
  <div class="pb-4"><%= f.file_field :profile_image, placeholder: "Image", accept: "image/*" %></div>
  <div>introduction</div>
  <div class="pb-4"><%= f.text_area:introduction, class: "form-control" %></div>
   <button class="btn btn-secondary " type="submit">Update User</button>
  <% end %>
  </div>
</div>