<h1>Users</h1>

  <% @users.each do |user| %>
  <div>
    <p><%= "image" %></p>
    <p><%= "name" %></p>
    <%= image_tag user.get_image %>
    <%= user.name %>
    
    <%= link_to "Show",user_path(user.id) %>
    
  </div>
    
<% end %>

<%= render 'books/list', books: @books %>