<h1>User info</h1>
<% user.each do |user| %>
<%= image_tag user.get_image %>
<p>name <%= user.name %></p>
<p>introduction <%= user.introduction %></p>
<% if user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(user) %></p>
  <% end %>
<% end %>
  
<h1>New book</h1>
<%= form_with model: book do |f| %>
  <P>Title</P>
  <%= f.text_field :title %>
  <P>Opinion</P>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>
