<% if book.errors.any? %>
  <%= book.errors.count %> errors prohibited this obj from being saved:
  <ul>
    <% book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="row">
    <div class="col-md-3">

      <h2>User info</h2>
        <%= image_tag user.get_profile_image(200,100) %>
        <table class="table">
          <tr>
            <th scope="row">name </th>
            <th><%= user.name %></th>
          </tr>
          <tr>
            <th scope="row">introduction </th>
            <th><%= user.introduction %></th>
          </tr>
        </table>
          
        <% if user %>
        <div class= "mt-4" >
          <a class="btn btn-outline-secondary btn-block " href="<%= edit_user_path(user) %>">
            <i class="fa-solid fa-user-gear text-center"></i>
　　　  　</a>
　　　　</div>
        <% end %>

      <div class="py-3">
        <h2>New book</h2>
        
          <%= form_with model: book do |f| %>
          <div class="form-group">
            <label for="book_title">Title</label>
            <%= f.text_field :title , class: "form-control" %> 
          </div>
          <div class="form-group">
            <label for="book_opinion">Opinion</label>
            <%= f.text_area :body , class: "form-control" %>
          </div>  
     
            <%= f.submit 'Create Book', class:"btn btn-success" %>
           <% end %>
         </div>
    </div>