<div class="row">
  <div class="mx-auto">
<h1>Editing Book</h1>
<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book do |f| %>
<div>
  <P>Title</P>
  <%= f.text_field :title %>
</div>  
<div>
  <P class="pt-4">Opinion</P>
  <%= f.text_area :body %>
</div>
  <div class="py-3">
  <button class="btn btn-success" type="submit">Update book</button>
  </div>
  <div>
  <%= link_to "Show", book_path(@book) %>
  <%= "|" %>
  <%= link_to "Back", books_path %>
<% end %>
 </div>

</div></div>