<%= render 'sidebar', book: @book %>

<div class="offset-md-1"></div>
  <div class="col-md-8">
  <h2>Book detail</h2>
  
    <%= link_to books_path do %>
    <div class="d-flex flex-row">
     <div><%= image_tag @user.get_profile_image(100,100) %>
     <p><%=  @user.name %></p></div>
   <% end %>
   
      <div class="col"><%= link_to @book.title, book_path %></div>
      <div class="col"><%= @book.body %></div>
  
    <% if @book.user == current_user %>
      <div class="col"><%= link_to "Edit", edit_book_path(@book) %></div>
       <div class="col"><%= link_to "Destroy", @book, method: :delete %></div>
  <% end %>
</div>
</div>
</div>

